:root {
  --dark: #161722;
  --blue: #25273c;
  --purple: #cacde8;
  --lgray: #e4e5f1;
  --dgray: #777a92;
}

menu {
  padding-left: 0;
  margin-top: 0;
  position: fixed;
  width: 13%;
  padding: 0;
  margin: 0;
}

menu ul{
  background-color: rgb(75, 107, 134);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

menu ul li {
  text-align: center;
}

menu ul li:after {
  content: "";
  display: block;
  width:70%;
  border-bottom: 1px solid rgba(87, 87, 87, 1);
  margin-left: 15%;
}

menu ul li a {
  display: block;
  font-size: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
}

menu ul li a:hover {
  background: #e4e5f1;
  color: black;
  margin: 0;
  padding: auto;
  font-style: italic;
}

menu ul div {
  position: absolute;
  padding-left: 10px;
  bottom: 100px;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

#main1 {
  margin-left: 13%;
}


#canvas {
  flex-direction: column;
}

#line {
  position: relative;
  width: 50vw;
  height: 2vh;
  background-color: aliceblue;
  stroke-linecap: round;
}

.grid{
  stroke-width: 0.5;
  stroke: white;
  opacity: 1;
}

.arc1 {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  stroke-linecap: round;
} 

.arc2 {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  stroke-linecap: round;
} 


#arc1 {
  transform: rotateZ(-90deg);
}

#arc2{
  transform: rotateZ(180deg);
}

#arc3{
  stroke-dasharray: 315;
}

/* #arc {
  stroke-dasharray: 1;
  animation: dash 5s linear;
} */

/* @keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
} */

.switch {
  float: right;
  position: relative;
  margin-right: 20%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#speedwagon {
  float: left;
  width: 65%;
  height: 10vh;
  text-align: center;
  color: #ED6E46;
  font-size: 40px;
  margin-right: 0;
}

.sections {
  margin-left: 10%;
  border-top: 1px solid white;
  width: 87%;
  height: 100vh;
}

h2 {
  color: --;
}

.rSide {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
