.textbutton1 {
  background: none;
  background-size: 150px 150px;
  position: absolute;
  top: 50%;
  width: 10%;
  left: 30%;
}

img {
  width: 100%;
}

main {
  display: block;
  clear: both;
}

.text {
  color: #ffffff;
  background: none;
  position: absolute;
  top: 0%;
  width: 10%;
  left: 40%;
}
.back {
  background: none;
  background-size: 150px 150px;
  position: absolute;
  top: 0%;
  width: 7%;
  left: 0%;
}
.button1 {
  background: none;
  background-size: 150px 150px;
  position: absolute;
  top: 50%;
  width: 10%;
  left: 30%;
}

.button2 {
  background: none;
  background-size: 150px 150px;
  position: absolute;
  top: 50%;
  width: 10%;
  left: 50%;
}

.button-2 {
  background: none;
  background-size: 150px 150px;
  position: absolute;
  top: 0%;
  width: 7%;
  left: 7%;
}
