h1 {
    color: 	#e4e5f1;
    padding: 0 5%;
    margin: 0;
    font-family: poppins-extralight, poppins, sans-serif;
    font-size: 80px;
    line-height:1.2em;
}

h3 {
    color: 	#e4e5f1;
    padding: 0 5%;
    font-family: poppins-extralight, poppins, sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

article {
    display: block;
}

#bgi {
    background-attachment: fixed;
    background-image: url('../images/bgi.svg');
    background-size: auto;
    background-position: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#main1 {
    z-index: 10;
}

#main2 {
    display: block;
}