:root {
    --dark: #161722;
    --blue: #25273c;
    --purple: #cacde8;
    --lgray: #e4e5f1;
    --dgray: #777a92;
}

section {
    width: 100vw;
    height: 100vh;
}

#title {
    color: 	#e4e5f1;
}

h1 {
    padding: 0 5%;
    margin: 0;
    font-family: poppins-extralight, poppins, sans-serif;
    font-size: 80px;
    line-height:1.2em;
    background: none;
}



h3 {
    color: 	#e4f1e4;
    padding: 0 5%;
    padding-bottom: 0;
    font-family: poppins-extralight, poppins, sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    background: none;
}

a {

}

.textBox{
    border: 10px none rgb(255, 255, 255);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    width: 40vw;
    height: 15vw;
    background-color: var(--dark);
    display: flex;
}

.sections{
    width: 100%;
    height: 100vh;
    padding-top: 12vh;
}

#mainsec1{
    border-top: 1px solid var(--purple);
    background-color: var(--dark);
}

#mainsec1 #h1 {
    text-align: center;
    color: var(--dgray);
}

#mainsec1 #h2 {
    height: 70%;
    border: 2px solid var(--lgray);
    text-align: center;
    color: var(--lgray);
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2vw;
}

#mainsec2 {
    border-top: 1px solid var(--purple);
    background-color: var(--dark);
}

#mainsec2 #h1 {
    text-align: center;
    color: var(--dgray);
}

#mainsec2 #h2 {
    height: 70%;
    border: 2px solid var(--lgray);
    text-align: center;
    color: var(--lgray);
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2vw;
}

#mainsec3 {
    border-top: 1px solid var(--purple);
    background-color: var(--dark);
}

#mainsec3 #h1 {
    text-align: center;
    color: var(--dgray);
}

#mainsec3 #h2 {
    height: 70%;
    border: 2px solid var(--lgray);
    text-align: center;
    color: var(--lgray);
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2vw;
}

#mainsec4 {
    border-top: 1px solid var(--purple);
    background-color: var(--dark);
}

#mainsec4 #h1 {
    text-align: center;
    color: var(--dgray);
}

#mainsec4 #h2 {
    height: 70%;
    border: 2px solid var(--lgray);
    text-align: center;
    color: var(--lgray);
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2vw;
}

#tb1 {
    left: 10vw;
    top: 100vh;
}

#tb2 {
    left: 55vw;
    top: 125vh;
}

#tb3 {
    left: 10vw;
    top: 150vh;
}

#tb4 {
    left: 55vw;
    top: 175vh;
}

#section1{
    width: 100%;
    height: 100vh;
    display: block;
}

#section2{
    margin: 0;
}

#tbt1 {
    color: var(--dgray);
    font-size: 4vw;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
}

#tbt2 {
    color: var(--lgray);
    font-size: 2.5vw;
    padding-top: 1.5vw;
    margin: 0;
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
}

#sec2main {
    color: var(--purple);
    font-size: 5vw;
    margin-left: 10vw;
    
    border: 1px none white;
    width: 50vw;
    height: 50vw;
}

#bgi {
    background-attachment: fixed;
    background-image: url('../images/bgi.svg');
    height: 100%;
    width: 100%;
    
}

#main1 {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

#main2 {

}