:root {
  --dark: #161722;
  --blue: #25273c;
  --purple: #cacde8;
  --lgray: #e4e5f1;
  --dgray: #777a92;
}

header {
  height: 75px;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #777a92;
  position: sticky;
  display: block;
}

article {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
  margin: 0;
}

body {
  background-color: #25273c;
  margin: 0;
}

p {
  margin-bottom: 0;
  padding: 0;
}

a {
  color: #e4e5f1;
}

#home {
  line-height: 75px;
  float: left;
  margin: 0;
  padding: 0 5%;
  font-size: 400%;
}

#nav {
  width: auto;
  margin: 0 auto;
  list-style: none;
  float: right;
}

#nav li {
  margin: 0;
  float: left;
  padding: 0 15px;
  /*float: right;
  position: relative;
  margin: 5px 30px;
  padding: 0;*/
}

#nav li a {
  line-height: 75px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 0 15px;
  color: #e4e5f1;
  /*color: #25273c;*/
  text-decoration: none;
}

#nav a:hover {
  background: #e4e5f1;
  color: black;
  margin: 0;
  padding: auto;
}
